{% extends 'music/base.html' %}

{% block content %}
<h2>{{ album.title }}</h2>
<p>Artist: {{ album.artist.name }}</p>
<p>Release Year: {{ album.release_year }}</p>

<h4>Треки</h4>
<ul>
    {% for track in album.tracks.all %}
    <li>
        <a href="{% url 'track_detail' track.id %}">{{ track.title }}</a> - {{ track.genre }} ({{ track.duration }} seconds)
        {% if user.is_authenticated %}
            <a href="{% url 'like_track' track.id %}" class="btn btn-sm btn-success"></a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
