{% extends 'music/base.html' %}

{% block content %}
<h2>Исполнители</h2>
<div class="row">
    {% for artist in artists %}
    <div class="col-md-2">
        <a href="{% url 'artist_detail' artist.id %}" class="card mb-3 text-decoration-none text-dark">
            <img src="{{ artist.image.url }}" class="card-img-top" alt="{{ artist.name }}">
            <div class="card-body p-2">
                <h6 class="card-title text-center">{{ artist.name }}</h6>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

<h2>Альбомы</h2>
<div class="row">
    {% for album in albums %}
    <div class="col-md-2">
        <a href="{% url 'album_detail' album.id %}" class="card mb-3 text-decoration-none text-dark">
            <img src="{{ album.image.url }}" class="card-img-top" alt="{{ album.name }}">
            <div class="card-body p-2">
                <h6 class="card-title text-center">{{ album.name }}</h6>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
