/* Стили для улучшения визуальной составляющей */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

h2 {
    color: #007bff;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    color: #6c757d;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-success {
    background-color: #28a745;
    border: none;
}

.btn-success:hover {
    background-color: #218838;
}

.navbar {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #343a40;
    color: white;
}
.btn-outline-danger {
    border-color: #dc3545;
    color: #dc3545;
    background-color: transparent;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: #fff;
}

.audio-player {
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination .page-link i {
    font-size: 1.2rem;
    color: #000; /* Черный цвет */
}

